img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
    max-height: 10rem;
  }

img[src$='#tallercenter'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
    max-height: 25rem;
  }

img[src$='#eventallercenter'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
    max-height: 35rem;
  }